<table class="list">
  <% AdditionalsInfo.new.system_infos.each do |type, system_info| %>
    <tr class="<%= type %>">
      <td class="name">
        <%= system_info[:label].presence || type %>:
      </td>
      <td class="name">
        <% case system_info[:value] %>
        <% when true %>
          <%= sprite_icon 'checked' %>
        <% when false %>
          <%= sprite_icon 'warning' %>
        <% else %>
          <%= system_info[:value] %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
